<?php

$config = [];

// Doctrine Configs.
$config['doctrine'] = [
    'dbal' => [
        'db.options' => [
            'driver' => 'pdo_mysql',
            'host' => 'localhost',
            'dbname' => 'incrm',
            'user' => 'root',
            'password' => ',
            'charset' => 'utf8',
            'driverOptions' => [1002 => 'SET NAMES utf8'],
        ],
    ],
    'orm' => [
        "orm.em.options" => [
            "mappings" => [
                [
                    "type" => "yml",
                    "namespace" => "Entity",
                    "path" => realpath(__DIR__ . "/../config/doctrine"),
                ],
            ],
        ],
    ]
];

// Monolog Configs.
$config['monolog'] = [
    'monolog.logfile' => __DIR__ . '/../../var/logs/prod.log',
];
